/* Definição de cores personalizadas usando variáveis */
:root {
  --cor-primaria: rgb(255, 187, 0); /* Cor primária da interface */
  --cor-secundaria: hsl(29, 100%, 50%); /* Cor secundária da interface */
  --cor-fundo: hsl(207, 27%, 8%); /* Cor de fundo geral */
  --cor-texto: #ffffff; /* Cor do texto */
  --cor-tabela-fundo: rgb(11, 15, 19); /* Cor de fundo das tabelas */
  --cor-tabela-header: #444; /* Cor de fundo do cabeçalho da tabela */
  --cor-tabela-header-hover: #333; /* Cor de fundo do cabeçalho da tabela ao passar o mouse */
}

/* Estilos gerais para o corpo da página */
body {
  font-family: "Gill Sans", "Gill Sans MT";
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  text-align: center;

  /* Flexbox para centralizar verticalmente */
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Estilos para o cabeçalho */
.header {
  background: linear-gradient(
    to bottom,
    var(--cor-primaria) 0%,
    var(--cor-secundaria) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border: 1px solid hwb(0 0% 100%);
  border-radius: 24px;
}

/* Estilos para o título principal */
h1 {
  margin: 0;
  font-size: 42px;
  display: inline-block;
  font-size: 42px;
  width: 1000px;
  border-radius: 24px;
}

/* Estilos para títulos secundários */
h2 {
  font-size: 24px;
  margin-top: 20px;
}

/* Estilos para o contêiner principal */
.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para os contêineres de tabelas */
.table-container {
  width: 100%;
  background-color: var(--cor-tabela-fundo);
  margin-top: 20px;
}

/* Estilos para a wrapper das tabelas (para posicionamento lado a lado) */
.table-wrapper {
  display: flex;
  gap: 20px;
}

/* Estilos para células de cabeçalho e dados nas tabelas */
th,
td {
  border: 1px solid hwb(0 0% 100%);
  padding: 12px;
  text-align: center;
}

/* Estilos para cabeçalhos de coluna */
th {
  background: linear-gradient(
    to bottom,
    var(--cor-tabela-header),
    var(--cor-tabela-header)
  );
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;

  border-radius: 10px;
  background: linear-gradient(var(--cor-primaria), var(--cor-secundaria));
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Estilos para os botões */
button {
  background: linear-gradient(
    to bottom,
    var(--cor-primaria),
    var(--cor-secundaria)
  );
  color: #fff;
  padding: 10px 20px;
  border: 1px solid hwb(0 0% 100%);
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

/* Estilo para espaçamento entre os botões */
.botao-editar {
  margin-bottom: 10px; /* Espaço à direita do botão Editar */
}

/* Estilos para botões quando estão em destaque (hover) */
button:hover {
  background-color: #ff181f;
  transform: scale(1.05);
  border: 1px solid hwb(0 0% 100%);
  border-radius: 24px;
}
